.plan{
margin: 15px;
}
.plan:hover{
  transform: scale(0.97);
  transition: 0.1s ease-in-out;
  /* box-shadow:  1px 0px 8px 1px rgb(111, 109, 109)!important; */
  /* border-radius: none; */
}
.plan-card-grid{
    display: grid;
    grid-template-columns: 50% 35% 15%;
    width: 100%;
    height: 150px;
    margin-top: 15px;
    border-radius: 50px;
    box-shadow:  1px 0px 8px 1px rgb(201, 193, 193)!important;
}
.plan-card-resp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.plan-cart-img{
    height: 120px;
    width: 150px;
    border-radius: 50px;
    
   }