@media screen and (max-width:820px) and (min-width:480px){
    .btn-grid{
        display: grid;
        /* grid-template-columns:auto; */
        /* grid-columm-sp */
        width: 100%;
    }
    .heading{
        font-size: 60px;
        padding-left: 20px;
        padding-top: 10px;
        color: white;
        letter-spacing: 2px;
        /* font-family: "Brush Script MT", cursive; */
        /* font-size: 100px; */
    }
    .explore-head{
        font-size: 45px;
    }
    .head-bg{
        height: 600px;
        /* width: 480px; */
        padding-bottom: 10px;
        background-color: #4d836b;
    }
    .resp-button{
        /* margin: 20px; */
        text-align: center;
        display: flex;
        /* justify-content: center;
        align-items: center; */
    }
    .input-button{
        gap: 5px;
        margin: 5px;
        background-color: rgb(10, 10, 10);
        color: white;
        border-radius: 100px;
        border: none;
        height: 70px;
        width: 160px;
        transition: 0.1s ease-out;
        font-size: 1.25rem;
        font-family: times new roman ;
        letter-spacing: 3px;
        
    }
    .input-button:hover{
       transform: scale(1.1);
       transition: 0.01s ease-out;
       background-color: #4d836b;
       color: white;
       box-shadow:  1px 0px 8px 1px rgb(255, 253, 253)!important;

    }
    .img-resp{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }
    .image{
        height: 350px;
        width: auto;
    }
    .trip-advertise{
        /* background: linear-gradient(to bottom right,  #8fc0a9 50%,#c0d8d6 20%); */
      
     background-color: black;
     height: 450px;
     width: auto;
 }
    /* .trip-advertise > image{
        
        width: 430px;
    } */
    .main-container{
        padding: 20px;
        height: 400px;
        width: auto;
        background-color: #000000;
        text-align: center;
    }
    .guider{
    position: absolute;
    height: 320px;
    width: 460px;
    background-color: #030303;
    transform-style: preserve-3d;
    transition: 0.5s ease;
    }
    .guider:hover{
        transform: rotateY(180deg);
    }
    
.front-side{
   
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: none;
    color: black;
    padding-top: 50px;
}
.front-side h4{
    font: icon;
    font-family: "Brush Script MT", cursive;
    color: white;
    font-size: 35px;
}

.back-side{
    padding-top: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* background-color: #4d836b; */
    background-image: url("https://d3r8gwkgo0io6y.cloudfront.net/upload/NU/sun_set_at_brahmaputra_kesari.jpg");
    border-radius: 20px 20px 20px 20px;
    background-repeat: no-repeat;
    background-size: 460px 380px;
    color: black;
    transform: rotateY(180deg);
    text-align: center;
    border-right: 0.2px solid white;
    }
   
    .back-side h3{
        font: icon;
        font-family: "Brush Script MT", cursive;    color: white;
    font-size: 35px;
    }
    .back-side h3 span{
        border-radius: 50px;
        /* background-color: #4d836b; */
        /* height: 50px; */
        font-size: 45px;
        font-family: "Brush Script MT", cursive
    }
    .input-back-button{
        background-color: rgb(255, 255, 255);
        /* color: white; */
        border-radius: 100px;
        border: none;
        height: 60px;
        width: 150px;
        font: bolder;
        font-size: 1.5rem;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 2px; 
    }
    .demo{
        display: flex;
        justify-content: center;
        /* align-items: center; */
        background-color: #fdfdfd;
        height: 600px;
        width: auto;
    }
    
    .demo h4{
        /* margin-top: ; */
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.95rem;
        color: rgb(0, 0, 0);
        letter-spacing: 2px;
    }
    .demo h6{
        font-size: 1.5rem;
        font-family: monospace;
        color: rgb(0, 0, 0);
        margin-bottom: 10px;
        letter-spacing: 0.8px;
        word-spacing: 1px;
    }
    .div-image{
        border-radius: 20px;
        filter: grayscale(60%);
        height: 275px;
        width: auto;
    }
    .explore-button{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 0, 0);
        color: white;
        border-radius: 50px;
        height: 60px;
        width: 200px;
        font-size: 42px;
        font-family: "Brush Script MT", cursive;
        letter-spacing: 2px;
        box-shadow:  1px 0px 8px 1px rgb(255, 253, 253)!important;
    }
    .explore-button:hover{
        box-shadow:  1px 0px 8px 1px rgb(8, 8, 8)!important;
        background-color: rgb(255, 253, 253);
        color: rgb(3, 3, 3);
        transform: scale(0.8);
        transition: 0.7s ease-in-out;
    }
    .resp-carousel{
        display: flex;
        justify-content: center;
       }
    



}











/* /////////////////////////// Mobile View */




@media screen and (max-width:480px){
    .btn-grid{
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
    }
    .heading{
        padding: 30px;
        padding-top: 40px;
        color: white;
        font-size: 30px;
        letter-spacing: 2px;
    }
    .explore-head{
        font-size: 60px;
    }
    .head-bg{
        height: 440px;
        background-color: #4d836b;
    }
    .resp-button{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input-button{
        margin: 10px;
        background-color: rgb(10, 10, 10);
        color: white;
        border-radius: 100px;
        border: none;
        height: 60px;
        width: 150px;
        transition: 0.1s ease-out;
        font-size: 1.065rem;
        font-family: times new roman ;
        letter-spacing: 2px;
        
    }
    .input-button:hover{
       transform: scale(1.1);
       transition: 0.01s ease-out;
       background-color: #4d836b;
       color: white;
       opacity: 0.9;
       box-shadow:  1px 0px 8px 1px rgb(251, 251, 251)!important;
    }

    .trip-advertise{
        background-color: #000000;
        height: 370px;
        width: auto;
    }
    .img-resp{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
    .trip-advertise > image{
        
        width: 430px;
    }
    .main-container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 38px;
        height: 300px;
        width: auto;
        background-color: #000000;
        text-align: center;
    }
    
    .guider{
        background-image: url("https://www.hdnicewallpapers.com/Walls/Thumb/Wonders/Beautiful_Taj_Mahal_HD_Photography.jpg");
        background-repeat: no-repeat;
        background-size: 350px 300px;
        border-radius: 20px;
        position: absolute;
        height: 220px;
        width: 350px;
        transform-style: preserve-3d;
        transition: 0.5s ease;
    }
    .guider:hover{
        transform: rotateY(180deg);
    }
    
.front-side{
   
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: none;
    color: black;
}
.front-side h4{
    font: icon;
    font-family: "Brush Script MT", cursive;
    color: white;
    font-size: 30px;
}

.back-side{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 20px 20px 20px 20px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 390px 230px;
    color: black;
    transform: rotateY(180deg);
    text-align: center;
    }
    .back-side h3{
        font: icon;
        font-family: "Brush Script MT", cursive;
        font-size: 30px;
        padding-left: 10px;
        padding-top: 10px;
        color: white;
    }
    .back-side h3 span{
        border-radius: 50px;
        /* background-color: #4d836b; */
        /* height: 50px; */
        font-size: 35px;
        font-family: "Brush Script MT", cursive
    }
    .input-back-button{
        background-color: rgb(249, 246, 246);
        color: rgb(5, 4, 4);
        border-radius: 100px;
        border: none;
        height: 60px;
        width: 150px;
        font-size: 1.06rem;
        font-family: times new roman ;
        letter-spacing: 4px;
        
    }
    .input-back-button:hover{
        box-shadow: 5px 10px 50px solid white !important;
    }
    .demo{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        height: 450px;
        width: auto;
    }
    
    .demo h4{
        font-size: 1.1rem;
        font-family: monospace;
        /* font-family: "Brush Script MT", cursive; */
        color: white;
        margin-bottom: 10px;
        letter-spacing: 1px;
        word-spacing: 2px;
    }
    .demo h6{
        font: icon;
        font-size: 1.4rem;
        font-family: "Brush Script MT", cursive;
        color: white;
        margin-bottom: 10px;
        letter-spacing: 1px;
        word-spacing: 2px;
    }
    .div-image{
        border-radius: 20px;
        filter: grayscale(60%);
        height: 200px;
        width: auto;
    }
    .explore-button{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        height: 50px;
        width: 130px;
        font-size: 20px;
        font-family: times new roman ;
        letter-spacing: 2px;
        border: none;
    }
    .explore-button:hover{
        box-shadow:  1px 0px 4px 1px rgb(255, 253, 253)!important;
        letter-spacing: 2px;
        transform: scale(0.9);
        border: none;
        transition: 0.1s ease-in-out;
    }
   .resp-carousel{
    display: flex;
    justify-content: center;
   }
   .divider1{
   
    background-image: url(https://i0.wp.com/mumbai7.com/wp-content/uploads/2021/01/ING_62097_04835.jpg);
    background-repeat: no-repeat;
    background-size: 480px 450px;
    filter: saturate(90%);
   }
   .filldivider1{
    height: 450px;
    width: auto;
    text-align: center;
   }
   .filldivider1 h3{
    padding-top: 150px;
    font: bolder;
    font-size: 35px;
    color: white;
   }
   .filldivider1 p{
    font: bolder;
    font-size: 25px;
    color: white;
   }
   .filldivider1 button{
    height: 50px;
    width: 120px;
    background-color: rgb(251, 248, 248);
    color: rgb(0, 0, 0);
    border-radius: 20px; 
    letter-spacing: 3px;
    border: none;
    font-size: 16px;
      
  }
  .filldivider1 button:hover{
    font-size: 18px;
    transform: scale(1.1);
    transition: 0.2s ease;
    background-color: black;
    color: white;
  }
  .divider2{
   
    background-image: url("https://assets-news.housing.com/news/wp-content/uploads/2022/08/11203201/ladakh-sightseeing-and-things-to-do-feature-compressed.jpg");
    background-repeat: no-repeat;
    background-size: 480px 400px;
    filter: saturate(50%);
   }
}